*
{
    padding: 0;
    margin: 0;
    font-family: Source Sans Pro;
    list-style: none;
    text-decoration: none;
}

html,
body
{
    box-sizing: border-box;
}

.about-flex
{
    display: flex;
    align-items: center;
    margin: 2em 0;
    flex-direction: row;
    width: 100%;
}

.about-flex img
{
    width: 12%;
}

.about-about-me
{
    padding: 1em;

    line-height: 1.8;
}

.about-about-me h1
{
    padding: 0.6em 0;
    line-height: 1.4;
}

.article-about-me p
{
    line-height: 1.8;
    text-align: justify;
    padding: 0.8em 0;
}

.article-about-me h2
{
    font-size: 1.8em;
    margin: 0.8em 0;
}


@media (max-width: 320px)
{
    .about-flex
    {

        flex-direction: column;
    }

    .about-flex img
    {
        width: 60%;
    }

}

@media (min-width: 375px)
{
    .about-flex
    {

        flex-direction: column;
    }

    .about-flex img
    {
        width: 50%;
    }

    .about-about-me h1
    {
        font-size: 2em;
        padding: 0.6em 0;
        line-height: 1.4;
        /* align-items: justify; */
    }
}

@media (min-width: 768px)
{
    body
    {
        font-size: 1.1em;
    }

    .about-flex
    {
        flex-direction: row;


    }

    .about-flex img
    {
        width: 20%;
    }

    .about-about-me
    {
        width: 10;

    }
}